# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Build/release output
dist/
.bin/

# Local env/history
.env
.envrc
.history

# Local SQLite scratch files
*.sqlite
*.sqlite-shm
*.sqlite-wal
